.title{
    position: absolute;
    top: -300px;
    display: block;
    left: 50%;
    transform: translate(-50%);
    
}

.container{
    display: flex;
}

.col{
    flex: 1;
}

.alignleft{
    text-align: left;
}
