.title{
    position: absolute;
    top: -70%;
    display: block;
    left: 50%;
    transform: translate(-50%); 
}

.makeItLower{
    position: fixed;
    top: 100px;
    display: block;
}

.container{
    display: flex;
}

.col{
    flex: 1;
}

.alignleft{
    text-align: left;
}
